.timelineContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    button {
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        align-items: center;
        border-radius: 12px;
        box-shadow: transparent 0 0 0 1px,rgba(18, 18, 18, .1) 0 6px 20px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        flex: 1 1 auto;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 1.1rem;
        font-weight: 700;
        justify-content: center;
        line-height: 1;
        margin: 0;
        outline: none;
        padding: 1rem 1.2rem;
        text-align: center;
        text-decoration: none;
        transition: box-shadow .2s,-webkit-box-shadow .2s;
        white-space: nowrap;
        border: 0;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        transition: background-color 400ms;
    }
    button:hover {
        background-color: var(--text-color);
        color:var(--background-color);
    }
}

.timelineTitle {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-bottom: 12.9px;
    font-size: 1.6em;
    margin-top: 0;
}


.timelineDescription{
    display: flex;
    justify-content: center;
    text-align: center;
    
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 1.2em;;
    margin-right: 20px;
    margin-left: 20px;
}
.companyName {
    font-weight: 500;
    color: var(--company-name-color);
    text-transform: uppercase;
    
}

.timelineSection {
    background-color: var(--background-color);
    box-shadow: transparent 0 0 0 1px,var(--shadow-color) 0 6px 20px;
    width: 408.8px;
    padding: 40px 7px 40px 7px;
    border-radius: 20px;
    transition: transform 0.5s ease;
    
    p {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 1.2em;
        text-align: center;
        
    }
}

.timelineSection:hover{
    transform: translateY(-1rem);
}

.bebold {
    font-weight: 520;
}

.logo {
    margin-top: -10px;
    width:110px;
    
}

.logoHead {
    display: flex;
    justify-content: center;
}

.linkHead {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.techUsed {
    /* font-style: italic; */
    font-weight: 470;
    font-size: 1em;
}
p .keyFeaturesTitle {
    font-weight: 600;
    text-align: left;
}
.keyFeaturesList {
    text-align: left;
    width: 354.8px;
 
}
.keyFeaturesItem {
    margin-bottom: 6px;
}
.periodTitle {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-bottom: 12.9px;
    font-size: 1.2em;
    margin-top: 0;
    font-weight: normal;
}

@media (width >= 800px) {
    .timelineContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
    .timelineSection {
        width: 628px;
        
    }
    .keyFeaturesList {
        width: 574.8px;
    }
    
}